---
import SocialLinks from './SocialLinks.astro';
---

<div class="space-y-8">
  <p class="text-white/60">
    As a relationship-focused organisation,<br />
    we look forward to a journey of<br />
    creation and mutual success.
  </p>

  <div class="text-sm text-white/40">
    <p>kamala Structural & Civil Engineering Pty Ltd</p>
    <p>ACN 676 445 195 ABN 61 676 445 195</p>
    <p>©2024 All Rights Reserved.</p>
  </div>

  <SocialLinks />
</div>